/* Estilo general del cuerpo */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;   
    line-height: 1.6;  
}

/* Títulos principales y secundarios */
h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #000000;
  }
h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: #000000;
  }

/* Imagenes  */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em 0;
  }

/* Estilo para la figura con imagen */
figure {
    margin: 20px 0;           /* Espacio arriba y abajo */
}

/* Espaciado entre parrafos */
p {
    margin-bottom: 1em;
}

/* Estilo para enlaces */
a {
    color: #0056b3;
    text-decoration: none;
  }
a:hover {
    text-decoration: underline;
  }
form {
    margin-top: 20px;
}
/* Estilo general del cuerpo *
  
  /* Contenedor principal */
.container {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}
  

/* Campos de entrada */
input {
    padding: 5px;             /* Espacio interno */
    margin-right: 10px;       /* Espacio entre el input y el botón */
}

/* Boton */
button {
    padding: 5px 10px;        /* Espacio interno horizontal y vertical */
}


/* Ajustes mínimos para moviles */
@media (max-width: 600px) {
    body {
      margin: 10px;
    }
  
    img {
      width: 100%;
      height: auto;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 10px; /* Espaciado entre input y boton */
    }
  
    input,
    button {
      width: 100%;
      box-sizing: border-box;
    }
  }
  